@model IEnumerable<Nodus.Elluris.Domain.Models.Beacon>

@{
    ViewData["Title"] = "Lista de Beacons";
}

<div class="card">
    <div class="card-header text-white bg-info mb-3">
        <h1>Lista de Beacons</h1>
    </div>
    <div class="card-body">
        <p>
            <a asp-controller="Beacons" asp-action="Create" id="navbar-category-tutorial-jquery"
               class="btn btn-info btn-sm my-0 waves-effect waves-light" role="button">
                <span class="d-none d-lg-inline-block mr-1">Adicionar Beacon</span>
            </a>
        </p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BeaconCode)
                    </th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeaconCode)
                        </td>
                        <td class="text-center">
                            <a asp-controller="Beacons" asp-action="Edit" asp-route-id="@item.Id"><span class="fas fa-pen fa-1x text-info m-2" title="Editar Período"></span> </a>
                            <a asp-controller="Beacons" asp-action="Details" asp-route-id="@item.Id"><span class="fas fa-search fa-1x text-info m-2" title="Detalhes Período"></span> </a>
                            <a asp-controller="Beacons" asp-action="Delete" asp-route-id="@item.Id"><span class="fas fa-trash fa-1x text-info m-2" title="Excluir Período"></span> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>