@model Nodus.Elluris.Domain.Models.Obras

@{
    ViewData["Title"] = "Excluir Obra";
}

<div class="card">
    <div class="card-header text-white bg-info mb-3">
        <h1>Excluir Obra</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <img src="@Model.UrlFoto" alt="Imagem obra" width="400" height="350" id="fotoObra" />
                </div>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Observacao)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Observacao)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.DataAtualizacao)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.DataAtualizacao)
                    </dd>
                </dl>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-controller="Obras" asp-action="Index" class="btn btn-info">Voltar à lista</a>
            </form>
        </div>
    </div>
</div>